/* Limpar formatações padrões */

/* ========================= layout ======================== */
html, body, .capa {
	height: 100%;
	overflow: auto;
}

body {
  
    overflow-x: hidden;
    background-size: cover;
    
}
   

/* ========================= Navbar ======================== */

.navbar {
    position: absolute;
    width: 100%;
    height: 109px;
    left: 0px;
    top: 0px;
    background: #FFFFFF;

}

.img-logo {
	height: 55px;
	width: 132px;
	display: block;
    background-size: contain;
   
   
}

.paragrafonavbar {
position: absolute;
width: 174.91px;
height: 19px;
left: 1165.08px;
top: 45px;

font-family: Roboto;
font-style: normal;
font-weight: bold;
font-size: 17px;
line-height: 20px;

color: #1D1F9A;

}

.nav-link {


font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
font-style: normal;
font-weight: normal;
font-size: 15px;
line-height: 18px;

color: #1D1F9A;

}

/* -- Capa Home -- */


.capa {
   
	display: table;
    width: 100%;
    height: 900px;
    left: 0px;
    top: 109px;
    background: linear-gradient(89.91deg, #1D1F9A 11.89%, rgba(252, 21, 35, 0.85) 78.97%);
    
}


.capa h1 {

font-family: Helvetica Neue;
font-style: normal;
font-weight: 900;
font-size: 110px;
line-height: 147px;
letter-spacing: -0.05em;
color: #FFFFFF;

}




.texto-capa {
	text-align: center;
	color: white;
	display: table-cell;
	vertical-align: middle;
}


/* -- Botoes -- */
.btn-custom {
    color: white;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 18px;
    font-family: roboto;
	border-radius: 500px;
	-webkit-border-radius: 500px;
    -moz-border-radius: 500px;
    text-transform: uppercase;
    transition: background 0.4s, color 0.4s;
}

.btn-roxo {
	background: #1d1f9a;
}
.btn-roxo:hover {
	background-color: #5F08D9;
	color: white;
}

.btn-branco {
	border: 2px solid white;
}
.btn-branco:hover {
	background-color: white;
	color: black;
}

/* -- Insitucional -- */

.institucional {
    margin-top: 100px;
    text-align: center;
   
}

.institucional h2 {


font-family: Helvetica Neue;
font-style: normal;
font-weight: 900;
font-size: 45px;
line-height: 55px;
letter-spacing: -0.05em;

color: #353535;

}

.institucional p {
    margin-top: 20px;
}

.institucional img {
    
    width: 514px;
    height: 305px;
    padding: 26px;
    
}